@import "../../../sass/base/colors";

.calendar-header-turquoise {
  background-color: $gy-v-dark-green;
  color: white;
}
.calendar-header-brown {
  background-color: $gy-v-dark-brown;
  color: white;
}
.calendar-content-turquoise {
  background-color: white;
}

.calendar-content-brown {
  background-color: $gy-v-light-brown
}