@use "../base/colors";

.content-items {
  margin-bottom: 12rem;

  &__container {
    display: grid;

    &--card {
      display: grid;

      gap: 2rem;

      & .content-items__card {
        &:hover {
          transform: scale(1.05);
          transition: transform 0.3s ease;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    .content-items__container--card {
      grid-template-columns: repeat(9, 1fr);

      & .content-items__card {
        grid-column: span 3;
      }
    }
  }

  &__headline {
    margin-bottom: 6rem;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }

  &__card-img {
    width: 100%;
    height: 35.5rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 3.5rem 3.5rem 0 0;
    }
  }

  &__card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem 3.5rem;
    background-color: colors.$gy-v-light-brown;
    border-radius: 0 0 3.5rem 3.5rem;
    flex-grow: 1;

    & p {
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }

    &__card-meta {
      p,
      span {
        font-weight: 700;
        font-size: 1.6rem;
        margin: 1rem 0;
        text-align: center;
      }
    }

    &--event {
      & h5 {
        margin-bottom: 3rem;
      }

      & .bold {
        margin-top: auto;
      }
    }
  }

  &__card-divider {
    border: none;
    border-top: 1px solid colors.$gy-v-dark-brown;
    margin-bottom: 1rem;
    opacity: 0.3;
  }

  &__card-title {
    align-self: center;
    text-align: center;
    height: 4.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      height: 5.4rem;
    }

    @media (min-width: 1024px) {
      height: 5.2rem;
    }

    & h5 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-word;
    }
  }
}
