@use "../base/colors";
@use "../base/mixins";

.content-items__headline {
  padding-top: 6rem;
}

.content-list-headline {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-image: url("/mountain_header.svg");
  background-size: cover;
  background-position: center 70%;
  background-color: #d8e8e2;
  overflow: hidden;
  margin-bottom: 6rem;

  &__backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(1px);
  }

  &__title {
    position: relative;
    z-index: 1;
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem 4rem;
    color: colors.$gy-v-white;
    @include mixins.headline-text-outline;
  }

  &--center &__title {
    text-align: center;
  }

  &--right &__title {
    text-align: right;
  }

  &--left &__title {
    text-align: left;
  }
}
