@use "../base/colors";

$logo-size: 10rem;
$font-color: colors.$gy-v-white;
$font-color-hovered: colors.$gy-v-light-brown;

.footer {
  position: relative;
  font-size: 2rem;
  background-color: colors.$gy-v-dark-brown;
  color: $font-color;
  padding: 6rem 4.8rem 4.5rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/tree_texture.jpg");
    background-repeat: repeat;
    background-size: 1500px auto;
    opacity: 0.12;
    pointer-events: none;
  }

  &__nav {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
  }

  &__logo-wrapper {
    z-index: 1;
    position: absolute;
    top: calc($logo-size / -2);
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: $logo-size;
    height: $logo-size;
  }

  &__logo {
    z-index: 999;
    position: relative;
    width: 100%;
    height: auto;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 6rem;
  }

  &__policies-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin-bottom: 3.5rem;
  }

  &__policies {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copy {
    text-align: center;
  }

  @media (max-width: 768px) {
    padding: 6rem 2rem 4rem;

    &__links,
    &__policies-nav {
      flex-direction: column;
      gap: 2rem;
      text-align: center;
    }
  }
}
