$font-color: $white;
$font-color-hovered: $brown;
$header-background-color: $green;

li{
  list-style: none;
}
.navbar{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  font-size: 3rem;
  color: $font-color;
  background-color: $header-background-color;

  a {
    margin-bottom: -65px;
  }
}
.nav-menu{
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-branding{
  font-size: 2rem;
}
/* transition for links */
.nav-link{
  transition: 0.5s ease;
}
.nav-link:hover{
  color: $font-color-hovered;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
}
.nav-item{
  padding: 0 1.5rem;
}
@media(max-width: 760px){
  .bar{
    display: block;
    background-color: $font-color;
  }
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: rotate(45deg) translateY(11.5px); 
  }  
  .hamburger.active .bar:nth-child(3){
    transform: rotate(-45deg) translateY(-11.5px); 
  }
  .nav-menu{
    position: fixed;
    right: -100%;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: $header-background-color;
    transition: 0.3s;
  }
  .nav-item{
    padding: 1.5rem 0;
  }
  
  .nav-menu.active{
    right: 0;
    top: 0;
    padding: 30px 0;
  }
  
}