@use "../base/colors";

.socials-block {
  width: 100%;
  margin-bottom: 6rem;
  padding: 4rem 3rem;
  background-color: colors.$gy-v-dark-green;
  color: colors.$gy-v-white;

  &--top-margin-reset {
    margin-top: -6rem;
  }

  &__title {
    max-width: 70rem;
    margin: 0 auto 3rem;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid colors.$gy-v-white;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__item-title {
    margin: 0;
    padding: 1.2rem 1.5rem;
    font-size: 1.6rem;
    text-align: center;
    background-color: colors.$gy-v-dark-green;

    a {
      display: inline-flex !important;
      align-items: center;
      gap: 1rem;
      color: colors.$gy-v-white;
    }
  }

  &__item-content {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 38rem;
    overflow: hidden;
    background-color: colors.$gy-v-white;

    > *:not(.socials-block__loader) {
      position: relative;
      z-index: 1;
    }

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  &__loader {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$gy-v-dark-green;
  }

  &__item--youtube &__item-content,
  &__item--tiktok &__item-content {
    background-color: colors.$gy-v-white;
  }

  &__item--tiktok &__item-content:not([data-loaded="true"]) > *:not(.socials-block__loader) {
    visibility: hidden;
  }

  &__item--facebook &__item-content {
    .fb-page {
      width: 100%;
      background-color: colors.$gy-v-white;
    }

    iframe {
      width: 100% !important;
    }
  }

  &__item--instagram &__item-content {
    iframe {
      max-width: 100%;
    }
  }

  &__item--link &__item-content {
    color: colors.$gy-v-dark-green;
    font-size: 3rem;
  }

  &__videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    max-height: 100%;
    padding: 1.5rem;
    overflow-y: auto;
    background-color: colors.$gy-v-white;

    &:not([data-loaded="true"]) {
      visibility: hidden;
    }
  }

  &__video {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #1a1a1a !important;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
    }
  }

  &__video-title {
    font-size: 1.5rem;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
