// Colors from logo
$gy-v-dark-green:   rgb(55 , 127, 118);
$gy-v-mid-green:   rgb(79 , 182, 169);
$gy-v-light-green:   rgb(176 , 223, 216);
$gy-v-dark-brown:   rgb(112 , 99, 76);

// other colors
$gy-v-light-brown: rgb(241, 232, 217)