// Colors from logo
$gy-v-dark-green:   rgb(55 , 127, 118);
$gy-v-mid-green:   lighten($gy-v-dark-green, 10%);
$gy-v-light-green:   lighten($gy-v-dark-green, 20%);

$gy-v-dark-brown:   rgb(112 , 99, 76);
$gy-v-mid-brown:   lighten($gy-v-dark-brown, 10%);
$gy-v-light-brown:   lighten($gy-v-dark-brown, 20%);
